.container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 30px;
}
.box {
    width: 23%;
    height: 7%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    border-radius: 16px;
    /* background: #0057e3; */
    align-content: center;
}
.overlay {
    z-index: 9;
    margin: 30px;
    color: black;
    background: white;
}
img[class="profile-picture"]{
    border-radius:50px;
    margin-bottom:20px
}
.imgContainer{
    display: flex;
    float:right;
}